<div class="jumbotron">
  <h2>Welcome to Weder</h2>
  <p class="lead">A collection of Weather interfaces/wrappers.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
  </div>

  <div class="col-lg-6">
  </div>
</div>
